 @import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@700&family=Poppins:wght@200;300;400;500&display=swap');

body,
.bg-dark {
  background: #03001C  !important; 
   font-family: 'Poppins', sans-serif;
  background-size: inherit; 
} 


.text-dark{
  color: #363062;
}

.category .active{
  background-color: #03001C;
  border: 2px solid #ffffff;
}


/*
/* .heading{
  font-family: 'Edu SA Beginner', cursive;
  font-size: 1.8rem;
  background: -webkit-linear-gradient(#37BA30, #076BDF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer{
  font-size: 0.8rem;
}
a{
  color: #6C757D;
} */

/* ADMIN DASHBOARD
.bg-admin{
  background-color: #6C757D;
} */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,500&display=swap');
:root {
  --navy: #363062;
  --navy-hover: #5B8FB9;
  --cyan: #B6EADA;
}
.btn-success{
  background-color: var(--navy);
}
.btn-outline-success{
  border: 1px solid var(--navy);
  color: var(--navy);
}
.btn-outline-success:hover{
  background-color: var(--navy-hover);
}


a{
  text-decoration: none;
}
.main-nav{
  background-color: var(--navy) !important;
}
.main-nav a{
  color: #ffffff !important;
}
.main-nav li :hover{
  background-color: var(--navy-hover);
}

.navbar-nav > li{
  margin-left:30px;
  margin-right:30px;
}
/* Home */
.carousel-inner>.carousel-item>img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  margin:auto;
  width: 100%; 
  }
.tabs-custom {
	text-align: left;
}
figcaption{
  text-transform: capitalize;
}
.card{
  border: none;
}
.banner-txt{
  font-family: 'Mulish', sans-serif;
}
.slogan{
  font-family: 'Mulish', sans-serif;
  font-style: italic;
}
/* 
.tabs-custom .nav-tabs {
	font-size: 0;
	line-height: 0;
	word-spacing: 0;
	border: 0;
	justify-content: center;
} */

.tabs-custom .nav-tabs:before, .tabs-custom .nav-tabs:after {
	display: none;
}

.tabs-custom .nav-item {
	float: none;
  padding: 0.8%;
  /* background-color: var(--navy-hover); */
  

}
.tabs-custom .nav-item :hover{
  /* background-color: var(--navy); */
  border-bottom: 2px solid var(--cyan);
}

.tabs-custom .nav-link {
	margin: 0;
	border-radius: 0;
	border: 0;
  text-transform: capitalize;
  color: var(--navy);

}
.tabs-custom .nav-link :hover{
  background-color: var(--navy-hover);
}
.tabs-custom .nav-link.active {
	color: var(--cyan);
}

.tabs-line .nav-link {
	padding: 10px 10px 6px;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1;
	text-align: center;
	vertical-align: middle;
}

.tabs-line .nav-link-big {
	font-size: 24px;
}

.tabs-line .nav-link-small {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: .025em;
}



/* FOOTER */
.footer-area{
  background-color: #03001C;
}
.footer-hr{
  display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #F5E8C7;
    margin: 1em 0;
    padding: 0;
  }


.btn-cyan{
  background-color: var(--cyan);
  color: var(--navy);
}
.btn-cyan:hover{
  background-color: var(--navy-hover);
  color: var(--cyan);
}
.text-cyan{
  color: var(--cyan);
}